body {
    margin: 0;
    display: flex;
    background-color: #0f0f0f;
    overflow-x: hidden; 

}

header{
    background-color: #0f0f0f;
    width: 100vw;
    box-sizing: border-box;
    padding: 4px;
    max-height: 56px;
    
}

.menu{
    width: 75px;
    height: 100vh;
    /* background-color: aqua; */
    
}
ul li {
    list-style-type: none;

}

ul li img{
    width: 35px;
    height: 35px;
}

.correcao {
    margin-right: -4px;
}