body {
    margin: 0;
    display: flex;
    background-color: #0f0f0f;
    overflow-x: hidden; 

}

header{
    background-color: #0f0f0f;
    width: 100vw;
    box-sizing: border-box;
    padding: 4px;
    max-height: 56px;
    
}

.menu{
    width: 75px;
    height: 100vh;


    box-sizing: border-box;
    
}
.button {
    list-style-type: none;
    margin-left: 10px;
    margin: 0px;
    height: 77px;





}

a {
    /* display: flex;
    justify-content: center ;
    align-items: center; */
    /* margin-bottom: 5px; */
}

ul li img{
    width: 35px;
    height: 35px;
    margin: 10px 18px;

}
ul {
    padding-inline-start:0px;
    
}


li:hover {
    background-color: rgba(104, 104, 104, 0.473);
    cursor: pointer;
    border-radius: 20%;
}

.correcao {
    margin-right: -4px;
}